<div class="container mt-4 card p-4">
    <div class="card-header">
        <h4 *ngIf="!productId">Add Product</h4>
        <h4 *ngIf="productId">Edit Product</h4>
    </div>
    <form class="card-body" [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name">
            <div *ngIf="this.productForm.get('name')?.value.length==0 && this.productForm.get('name')?.dirty">
                <p class="text-danger">Product Name is Mandatory</p>
            </div>
        </div>
        <div class="mb-3">
            <label>Category</label>
            <input type="text" class="form-control" formControlName="category">
            <div *ngIf="this.productForm.get('category')?.value.length==0 && this.productForm.get('category')?.dirty">
                <p class="text-danger">Product Category is Mandatory</p>
            </div>
        </div>
        <div class="mb-3">
            <label>Price</label>
            <input type="number" class="form-control" formControlName="price" />
            <div *ngIf="this.productForm.get('price')?.value=='' && this.productForm.get('price')?.dirty">
                <p class="text-danger">Product Price is Mandatory</p>
            </div>
        </div>
        <div class="mb-3">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="description">
        </div>
        <div class="text-end">
            <button type="button" [routerLink]="['/']" class="btn btn-danger me-2">Go Back</button>
            <button type="submit" class="btn btn-success" [disabled]="productForm.invalid">Submit</button>
        </div>
    </form>
</div>